<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{correo}}</td>
            <td>{{telefono}}</td>
            <td>{{edad}}</td>
            <td><button>Eliminar</button><a href="/edit/{{_id}}">Actualizar</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>