<div
  class="card card-body p-4 rounded-0 bg-dark text-white container"
  style="width:50%"
>
  <form action="/edit/{{task._id}}" method="POST">
  {{! Se recibe el id del campo y redirecciona a la funcion que se desea realizar }}

    <div class="mb-3 mt-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        name="nombre"
        placeholder="nombre"
        value="{{task.nombre}}"{{! trae la informacion del campo nombre, deacuerdo al id seleccionado }}
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        name="apellido"
        placeholder="Apellido"
        value="{{task.apellido}}"{{! trae la informacion del campo Apellido, deacuerdo al id seleccionado }}
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="correo">Correo electronico</label>
      <input
        type="email"
        name="correo"
        placeholder="correo"
        value="{{task.correo}}"{{! trae la informacion del campo correo, deacuerdo al id seleccionado }}
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="telefono">Telefono</label>
      <input
        type="tel"
        name="telefono"
        placeholder="telefono"
        value="{{task.telefono}}"{{! trae la informacion del campo nombre, deacuerdo al id seleccionado }}
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="edad">Edad</label>
      <input
        type="text"
        name="edad"
        placeholder="edad"
        value="{{task.edad}}"
        class="form-control rounded-0 bg-dark text-white"
        />{{! tre la informacion del campo edad, deacuerdo al id seleccionado }}
    </div>

    <button class="btn btn-success btn-sm mt-2 center-block">Actualizar</button> 
    {{!-- Envia el formulario actualizado --}}
  </form>
</div>